<!DOCTYPE html>
<html>
  <body>
    <form action="/" method="POST">
      <h2>ユーザ名</h2>
      <input type="text" name="username">
      <h2>パスワード</h2>
      <input type="password" name="userpass">
      <button type="submit">ログイン</button>
    </form>
    <a href ="./newaccount">新規会員登録</a>
  </body>
  <script>

  </script>
</html>
