<!DOCTYPE html>
<html>
  <body>
    <form action="/" method="POST">
      <h2>ユーザ名</h2>
      <input type="text" name="username">
      <h2>パスワード</h2>
      <input type="text" name="userpass">
      <button type="submit">投稿</button>
    </form>
  </body>
  <script>

  </script>
</html>
