<!DOCTYPE html>
<html>
	<body>
	<h1><font color = "red">登録ページです!!!</font></h1>
		<form action="/newaccount" method="POST">
		
      <h2>ユーザ名</h2>
      <input type="text" name="name">
      <h2>パスワード</h2>
      <input type="password" name="pass">
      <button type="submit">ユーザー登録</button>
    </form>
